body{
    height: 3500px;
}
nav{
    box-shadow: none;
    margin-top: 30PX;
}

a{
    margin-left: 60PX;
}
.lifestyle{
    margin-left: 0px;
}

.photo{
    width: 100%;
}

.cards{
    display: flex;
}

h4{
    font-size: 25px;
}

.card{
    box-shadow: none;
}

.middle{
    text-align: center;
   font-size: 40px;
}
.middle1{
    text-align: center;
    width: 600px;
}


.flex{
    display: flex;
}
.btn1{
    position: absolute;
    margin-left: 350px;
    
}

.description{
    position: relative;
}

.btn-large{
    border: 1px solid black;
}

.middle-btn{
    text-align: center;
}

.icon{
    width: 20px;
}

.right{
    margin: 0px 10px;
}

i{
    font-weight: bolder;
    margin: 0px 10px;
}