nav{
    box-shadow: none;
    margin-top: 30PX;
}

a{
    margin-left: 60PX;
}
.lifestyle{
    margin-left: 0px;
}

.photo{
    width: 100%;
}

.cards{
    display: flex;
}

h4{
    font-size: 25px;
}

.card{
    box-shadow: none;
}